body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
  background: #eaedf0;
}

/* ################################################################## Header CSS Style ################################################################# */

.header-content {
  background-image: url(images/Header\ bg@2x.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 800px;
  background-color: #fff;
  border-radius: 0 0 0 100px;
}

.header {
  height: 940px;
  background-color: #fff;
  border-radius: 0 0 0 100px;
}

.header .header-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 143px;
  background: #fff;
}

.logo {
  padding: 16px;
  font-weight: 700;
  color: #6070ff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo a {
  text-decoration: none;
  color: #6070ff;
}

.tabs {
  display: flex;
  flex-direction: row;
}

.tab {
  padding: 10px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab a {
  text-decoration: none;
  color: #000;
}

.menu-list {
  display: none;
}

.menu-list img {
  padding: 0;
}

.heading {
  width: 50%;
}

.heading h1 {
  font-weight: 700;
  padding: 0;
  margin: 0;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.37px;
}

.heading p {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.header span a {
  color: #7f8cff;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
}

.icons-class {
  display: flex;
  flex-direction: row;
  width: 20%;
  justify-content: space-between;
  margin-top: 10px;
}

/* ################################################################## Main CSS Style ################################################################# */

.main-content {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.container {
  margin: 143px;
  gap: 142px;
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  background-color: #fff;
  border-radius: 12px;
}

.card-reverse {
  flex-direction: row-reverse;
}

.header2 span a {
  color: #7f8cff;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
}

.card-body h1 {
  color: var(--theme-1-neutrals-1, #091e42);
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
}

.canopy {
  display: flex;
}

.header2 button a {
  color: #7f8cff;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
}

.card-body .btn-section a {
  display: flex;
  padding: 6px 15px;
  align-items: center;
  border-radius: 8px;
  background: #ebebff;
  border: none;
  color: #6070ff;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
  letter-spacing: 0.36px;
  margin-right: 10px;
}

.client {
  color: #344563;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.role {
  padding: 0 10px;
}

.header2 button:hover a {
  background: #4053fc;
  color: #fff;
}

.card-body .btn-section {
  display: flex;
}

.card-body .btn-section a:hover {
  background-color: #4053fc;
  color: #fff;
}

.header3 button {
  display: flex;
  padding: 12px;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--primary-b-400, #6070ff);
  cursor: pointer;
  background: #fff;
}

.card-body button {
  display: flex;
  padding: 12px;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--primary-b-400, #6070ff);
  cursor: pointer;
  background: #fff;
}

.header2 button {
  display: flex;
  padding: 12px;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--primary-b-400, #6070ff);
  cursor: pointer;
  background: #fff;
}

.card-body button:hover {
  background: #4053fc;
  color: #fff;
}

.card-body button span {
  color: var(--primary-b-500, #396df2);
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.51px;
}

.card-body button:hover > span {
  background: #4053fc;
  color: #fff;
}

.card-body {
  padding: 15px;
}

.img-section {
  padding: 15px;
}

.img-section img {
  border-radius: 10px;
}

/* ############################################################### Footer CSS Style ############################################################# */

.footer-section {
  background: #fff;
}

.footer-container {
  padding: 143px;
}

.icons-class2 {
  width: 25%;
}

.header2 p {
  padding: 0 50px 0 0;
}

.langhead {
  justify-content: space-between;
}

.framwork {
  justify-content: space-between;
  height: 72px;
  align-items: center;
  border-bottom: 1px solid #cecece;
}

.lang-list {
  display: flex;
  padding: 12px;
  align-items: center;
  gap: 12px;
}

.langname {
  display: flex;
  flex-direction: column;
  background: var(--neutrals-n-10, #f7f7f9);
  width: 125px;
  height: 125px;
  justify-content: space-around;
  padding: 8px;
  border-radius: 8px;
}

.langname:hover {
  background-color: rgb(233, 233, 233);
}

.langname img {
  width: 50px;
  height: 50px;
}

.container2 {
  padding: 143px;
  margin: 0;
  background: #fff;
}

.header2 button:hover {
  background: #4053fc;
  color: #fff;
}

.my-container {
  background-image: url(images/contact\ form\ background\ shapes@2x.png);
  background-repeat: no-repeat;
  background-size: 90% 100%;
  height: 846px;
  background-color: #6070ff;
  border-radius: 100px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-form {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-form p {
  text-align: center;
}

.footer-form form {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer-form form .inpfield input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.footer-form form .text-container textarea {
  width: 100%;
  padding: 10px;
  height: 170px;
  resize: none;
  border-radius: 5px;
  border: none;
}

.form-btn {
  color: #6070ff;
  font-weight: 600;
}

.header3 button:hover {
  background: #6070ff;
  color: #fff;
  border: 1px solid #fff;
}

.header3 button:hover > span {
  background: #6070ff;
  color: #fff;
}

/* ############################################################### Custom Column CSS Style ############################################################# */

.col-10 {
  width: 100%;
}

.col-9 {
  width: 90%;
}

.col-8 {
  width: 80%;
}

.col-7 {
  width: 70%;
}

.col-6 {
  width: 60%;
}

.col-5 {
  width: 50%;
}

.col-4 {
  width: 40%;
}

.col-3 {
  width: 30%;
}

.col-2 {
  width: 20%;
}

.col-1 {
  width: 10%;
}

.d-flex {
  display: flex;
}

.text-light {
  color: #fff;
}

/* ############################################################### media query CSS Style ############################################################# */

@media (min-width: 1024px) and (max-width: 1440px) {
  .header2 button:hover a {
    background: #4053fc;
    color: #fff;
  }

  .card-body .btn-section a:hover {
    background-color: #4053fc;
    color: #fff;
  }

  .card-body button {
    margin-top: 15px;
  }

  .card-body button:hover {
    background: #4053fc;
    color: #fff;
  }

  .card-body button:hover > span {
    background: #4053fc;
    color: #fff;
  }

  .langname:hover {
    background-color: rgb(233, 233, 233);
  }

  .header2 button:hover {
    background: #4053fc;
    color: #fff;
  }

  .header3 button:hover {
    background: #6070ff;
    color: #fff;
    border: 1px solid #fff;
  }

  .header3 button:hover > span {
    background: #6070ff;
    color: #fff;
  }

  .icons-class2 {
    width: 45%;
  }

  .card-body br {
    display: none;
  }

  .container2 {
    padding: 110px;
  }

  .card {
    padding: 0;
  }

  .card-body h1 {
    font-size: 25px;
  }

  .client {
    font-size: 15px;
  }

  .img-section img {
    height: 100%;
  }

  .icons-class {
    width: 30%;
  }

  .nav {
    padding: 0 100px;
    align-items: center;
  }

  .about-icons-class {
    width: 40%;
  }

  .header2 h1 {
    margin: 0;
  }

  .footer-form {
    width: 85%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .card-body .btn-section a {
    padding: 4px;
    font-size: 10px;
  }

  .header2 button:hover a {
    background: #4053fc;
    color: #fff;
  }

  .card-body .btn-section a:hover {
    background-color: #4053fc;
    color: #fff;
  }

  .discription span {
    font-size: 12px;
  }

  .card-body button {
    margin-top: 15px;
  }

  .card-body button:hover {
    background: #4053fc;
    color: #fff;
  }

  .langhead span {
    font-size: 22px;
    font-weight: 500;
  }

  .card-body button:hover > span {
    background: #4053fc;
    color: #fff;
  }

  .langname:hover {
    background-color: rgb(233, 233, 233);
  }

  .header2 button:hover {
    background: #4053fc;
    color: #fff;
  }

  .header3 button:hover {
    background: #6070ff;
    color: #fff;
    border: 1px solid #fff;
  }

  .header3 button:hover > span {
    background: #6070ff;
    color: #fff;
  }

  .icons-class2 {
    width: 45%;
  }

  .container2 {
    padding: 110px;
  }

  .card {
    padding: 0;
  }

  .card-body h1 {
    font-size: 22px;
    margin: 0;
  }

  .client {
    font-size: 12px;
  }

  .img-section img {
    height: 100%;
  }

  .container {
    margin: 75px;
    gap: 75px;
  }

  .card-body br {
    display: none;
  }

  .card-body p {
    font-size: 13px;
  }

  .heading {
    width: 60%;
  }

  .icons-class {
    width: 35%;
  }

  .nav {
    padding: 0 80px;
    align-items: center;
  }

  .about-card {
    flex-direction: column;
  }

  .Top {
    width: 100%;
    margin-bottom: 40px;
  }

  .skillList {
    width: 100%;
  }

  .about-icons-class {
    width: 45%;
  }

  .footer-form {
    width: 85%;
  }

  .header-content {
    height: 600px;
  }

  .header {
    height: 740px;
  }
}

@media (min-width: 425px) and (max-width: 768px) {
  .header2 button:hover a {
    background: #4053fc;
    color: #fff;
  }

  .card-body .btn-section a:hover {
    background-color: #4053fc;
    color: #fff;
  }

  .card-body button:hover {
    background: #4053fc;
    color: #fff;
  }

  .card-body button:hover > span {
    background: #4053fc;
    color: #fff;
  }

  .langname {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 90px;
  }

  .langname:hover {
    background-color: rgb(233, 233, 233);
  }

  .header2 button:hover {
    background: #4053fc;
    color: #fff;
  }

  .header3 button:hover {
    background: #6070ff;
    color: #fff;
    border: 1px solid #fff;
  }

  .header3 button:hover > span {
    background: #6070ff;
    color: #fff;
  }

  .heading {
    width: 75%;
  }

  .nav {
    padding: 0 30px;
    align-items: center;
  }

  .tabs {
    display: none;
  }

  .menu-list {
    display: block;
    width: 24px;
    height: 24px;
  }

  .icons-class {
    width: 45%;
  }

  .heading h1 {
    font-size: 35px;
  }

  .heading p {
    font-size: 15px;
    margin: 0;
  }

  .header-content {
    height: 450px;
  }

  .header {
    height: 540px;
  }

  .container {
    margin: 100px;
  }

  .card {
    flex-direction: column;
    width: auto;
  }

  .img-section {
    width: 100%;
    padding: 0;
  }

  .img-section img {
    width: 100%;
  }

  .card-body {
    width: 100%;
    padding: 0;
  }

  .cardbody2 {
    padding: 20px;
  }

  .about-card {
    flex-direction: column;
  }

  .Top {
    width: 100%;
    margin-bottom: 40px;
  }

  .skillList {
    width: 100%;
  }

  .footer-form {
    width: 85%;
  }

  .container2 {
    padding: 70px;
    margin: 0;
  }

  .container2 .card {
    padding: 0;
  }

  .about-icons-class {
    width: 45%;
  }

  .lang-list {
    flex-direction: column;
  }

  .my-container {
    height: 640px;
  }

  .footer-form form {
    width: 85%;
  }
}

@media (min-width: 375px) and (max-width: 425px) {
  .card-body .btn-section a {
    padding: 5px;
  }

  .header2 button:hover a {
    background: #4053fc;
    color: #fff;
  }

  .card-body button {
    margin-top: 20px;
    padding: 7px;
  }

  .header2 button:hover {
    background: #4053fc;
    color: #fff;
  }

  .card-body .btn-section a:hover {
    background-color: #4053fc;
    color: #fff;
  }

  .card-body button:hover {
    background: #4053fc;
    color: #fff;
  }

  .langhead span {
    font-size: 22px;
    font-weight: 500;
  }

  .card-body button:hover > span {
    background: #4053fc;
    color: #fff;
  }

  .langname {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    justify-content: space-between;
  }

  .langname:hover {
    background-color: rgb(233, 233, 233);
  }

  .card-body br {
    display: none;
  }

  .header3 button:hover {
    background: #6070ff;
    color: #fff;
    border: 1px solid #fff;
  }

  .header3 button:hover > span {
    background: #6070ff;
    color: #fff;
  }

  .heading {
    width: 75%;
  }

  .nav {
    padding: 0 30px;
    align-items: center;
  }

  .tabs {
    display: none;
  }

  .menu-list {
    display: block;
    width: 24px;
    height: 24px;
  }

  .icons-class {
    width: 55%;
  }

  .heading h1 {
    font-size: 35px;
    line-height: 35px;
    margin-bottom: 25px;
  }

  .heading p {
    font-size: 15px;
    margin: 0;
  }

  .header-content {
    height: 500px;
    background-image: url(images/header-shapes\ mobile.png);
  }

  .header {
    height: 600px;
  }

  .container {
    margin: 30px;
    gap: 50px;
  }

  .card {
    flex-direction: column;
    width: auto;
    padding: 10px;
  }

  .img-section {
    width: 100%;
    padding: 0;
  }

  .img-section img {
    width: 100%;
  }

  .card-body {
    width: 100%;
    padding: 0;
  }

  .about-card {
    flex-direction: column;
  }

  .Top {
    width: 100%;
    margin-bottom: 40px;
  }

  .skillList {
    width: 100%;
  }

  .footer-form {
    width: 85%;
  }

  .container2 {
    padding: 45px;
    margin: 0;
  }

  .container2 .card {
    padding: 0;
  }

  .about-icons-class {
    width: 45%;
  }

  .lang-list {
    flex-direction: column;
  }

  .my-container {
    height: 640px;
    background-image: url(images/contact\ form\ shapes-mobile.png);
    background-position-x: right;
  }

  .footer-form form {
    width: 100%;
    margin-top: 15px;
  }

  .client {
    font-size: 12px;
  }

  .card-body h1 {
    font-size: 30px;
    margin: 0;
  }

  .footer-form p {
    font-size: 12px;
  }

  .footer-form h1 {
    margin: 0;
  }
}

@media (min-width: 300px) and (max-width: 375px) {
  .card-body .btn-section a {
    padding: 5px;
    font-size: 9px;
  }

  .card-body button {
    margin-top: 20px;
    padding: 7px;
  }

  .header2 button:hover a {
    background: #4053fc;
    color: #fff;
  }

  .card-body .btn-section a:hover {
    background-color: #4053fc;
    color: #fff;
  }

  .langhead span {
    font-size: 22px;
    font-weight: 500;
  }

  .card-body button:hover {
    background: #4053fc;
    color: #fff;
  }

  .card-body button:hover > span {
    background: #4053fc;
    color: #fff;
  }

  .langname {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    justify-content: space-between;
  }

  .langname:hover {
    background-color: rgb(233, 233, 233);
  }

  .header2 button:hover {
    background: #4053fc;
    color: #fff;
  }

  .header3 button:hover {
    background: #6070ff;
    color: #fff;
    border: 1px solid #fff;
  }

  .header3 button:hover > span {
    background: #6070ff;
    color: #fff;
  }

  .heading {
    width: 75%;
  }

  .nav {
    padding: 0 30px;
  }

  .tabs {
    display: none;
  }

  .icons-class {
    width: 60%;
  }

  .heading h1 {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 20px;
  }

  .heading p {
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 10px;
  }

  .header2 p {
    padding: 0;
  }

  .header2 h1 {
    font-size: 30px;
  }

  .header-content {
    height: 500px;
    background-image: url(images/header-shapes\ mobile.png);
  }

  .header {
    height: 600px;
  }

  .container {
    margin: 30px;
    gap: 40px;
  }

  .card {
    flex-direction: column;
    width: auto;
    padding: 10px;
  }

  .img-section {
    width: 100%;
    padding: 0;
  }

  .img-section img {
    width: 100%;
  }

  .menu-list {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card-body {
    width: 100%;
    padding: 0;
  }

  .about-card {
    flex-direction: column;
  }

  .Top {
    width: 100%;
    margin-bottom: 40px;
  }

  .skillList {
    width: 100%;
  }

  .footer-form {
    width: 100%;
  }

  .container2 {
    padding: 45px;
    margin: 0;
  }

  .container2 .card {
    padding: 0;
  }

  .about-icons-class {
    width: 65%;
  }

  .lang-list {
    flex-direction: column;
  }

  .my-container {
    height: 640px;
    background-image: url(images/contact\ form\ shapes-mobile.png);
    background-position-x: right;
  }

  .footer-form form {
    width: 100%;
    margin-top: 15px;
  }

  .card-body br {
    display: none;
  }

  .client {
    font-size: 12px;
  }

  .card-body h1 {
    font-size: 22px;
    margin: 0;
  }

  .footer-form p {
    font-size: 12px;
  }

  .footer-form h1 {
    margin: 0;
  }

  .discription {
    font-size: 10px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }
}
