body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 375px;
  background-color: #e5e5e5;
}

.navbar {
  display: flex;
  width: 100%;
  height: 55px;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: var(--neutrals-n-0, #fff);
  justify-content: space-between;
}

.Mylogo {
  display: flex;
  padding: 10px 12px;
  align-items: center;
  color: var(--primary-b-400, #6070ff);
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.menu {
  display: none;
  padding: 8px;
  align-items: flex-start;
  border-radius: 8px;
}

.menuicon {
  padding: 8px;
  border-radius: 8px;
}

.headline {
  background-image: url(images/header-shapes\ mobile.png);
  display: inline-flex;
  padding: 114px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  background-color: var(--neutrals-n-0, #fff);
  border-radius: 0 0 0 80px;
}

.heading {
  display: flex;
  width: 327px;
  height: 150px;
  flex-direction: column;
  justify-content: center;
}

.heading span {
  color: var(--neutrals-n-800, #172b4d);
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
}

.primery-text {
  width: 327px;
  height: 146px;
  color: var(--neutrals-n-600, #344563);
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.social-media {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.sm {
  padding: 8px;
  align-items: flex-start;
  border-radius: 8px;
  padding-left: 0;
}

.normal-btn {
  display: flex;
  width: 24px;
  height: 24px;
  padding: 2px 3px;
  justify-content: center;
  align-items: center;
}

.icons {
  display: flex;
  align-items: center;
}

.supporting-text a {
  color: var(--primary-b-300, #7f8cff);
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
  cursor: pointer;
}

.grid-container {
  display: grid;
  padding: 114px 24px;
  gap: 88px;
  width: fit-content;
  background-color: #f7f7f9;
}

.cards {
  display: flex;
  padding: 16px;
  width: fit-content;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  border-radius: 16px;
  border: 1px solid var(--neutrals-n-40, #dfe1e6);
  background: var(--neutrals-n-0, #fff);
}

.refimg {
  width: 295px;
  height: 220px;
  border-radius: 8px;
  background: url(images/Card1\ image.png), lightgray 50%;
}

.block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  padding-left: 0;
}

.primaryText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.tonic {
  width: 295px;
  height: 36px;
  color: var(--neutrals-n-800, #172b4d);
  font-size: 32px;
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
}

.subhead {
  display: flex;
  align-items: center;
  gap: 12px;
}

.discription {
  display: flex;
  padding: 8px 0;
  align-items: center;
  gap: 12px;
}

.client span {
  color: var(--neutrals-n-600, #344563);
  font-size: 13px;
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
}

.counter {
  width: 8px;
  height: 8px;
  fill: var(--neutrals-n-50, #c1c7d0);
}

.role span {
  color: var(--neutrals-n-100, #7a869a);
  font-size: 13px;
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
}

.para {
  color: var(--neutrals-n-600, #344563);
  font-size: 15px;
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  width: 295px;
  height: 76px;
}

.tags {
  display: flex;
  justify-content: start;
  gap: 8px;
  margin-top: 20px;
}

.diftag {
  margin-top: 0;
}

.tag {
  display: flex;
  padding: 4px 12px;
  align-items: center;
  border-radius: 8px;
  background: var(--primary-b-50, #ebebff);
}

.tag a {
  text-decoration: none;
}

.tag span {
  color: var(--primary-b-400, #6070ff);
  font-size: 12px;
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.36px;
}

.action {
  display: flex;
  padding: 12px 160px 12px 0;
  align-items: center;
}

.normal {
  display: flex;
  padding: 12px;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid var(--primary-b-400, #6070ff);
}

.normal a {
  text-decoration: none;
}

.normal span {
  color: var(--primary-b-500, #396df2);
  text-align: center;
  font-family: "poppins", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.51px;
}

.About-Myself {
  display: grid;
  padding: 114px 13px;
  gap: 24px;
  width: fit-content;
  background-color: #fff;
}

.Top {
  display: grid;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.about {
  display: grid;
  width: 327px;
  height: 35px;
  color: var(--neutrals-n-800, #172b4d);
  font-size: 40px;
  font-family: "poppins", sans-serif;
  font-weight: 700;
  line-height: 52px;
  align-content: center;
}

.about span {
  padding-left: 10px;
}

.pri-text {
  width: 327px;
  height: 147px;
  color: var(--neutrals-n-600, #344563);
  font-size: 16px;
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.pri-text p {
  padding-left: 10px;
  margin: 0;
}

.support-text a {
  color: var(--primary-b-300, #7f8cff);
  font-size: 16px;
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding-left: 10px;
  text-decoration: none;
}

.resume-btn {
  display: flex;
  padding: 12px;
  align-items: center;
  margin-left: 10px;
  gap: 10px;
  width: fit-content;
  border-radius: 8px;
  border: 1px solid var(--primary-b-400, #6070ff);
}

.resume-btn a {
  text-decoration: none;
}

.resume-btn span {
  color: var(--primary-b-500, #396df2);
  text-align: center;
  font-family: "poppins", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.51px;
}

.skillList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.languages {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.langhead {
  display: flex;
  padding: 16px 26px 16px 12px;
  align-items: center;
  gap: 12px;
}

.langhead span {
  color: #000;
  width: 237px;
  font-family: "poppins", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.dropdown {
  display: flex;
  padding: 8px;
  align-items: flex-start;
}

.dropdown img {
  width: 24px;
  height: 24px;
  border-radius: 8px;
}

.lang-list {
  display: flex;
  padding: 12px;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.langname {
  display: flex;
  width: 303px;
  padding: 9px 12px 9.716px 12px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 8px;
  background: var(--neutrals-n-10, #f7f7f9);
  font-family: 'Poppins', sans-serif;
}

.langname img {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 48px;
  border: 1px solid var(--neutrals-n-0, #fff);
  background: url(images/js.png), lightgray 50%;
}

.langname span {
  display: flex;
  width: 215px;
  height: 24px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: var(--neutrals-n-700, #253858);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.framwork {
  width: 327px;
  height: 72px;
  display: inline-flex;
  align-items: center;
}

.framwork span {
  width: 237px;
  color: #000;
  font-size: 20px;
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding-left: 10px;
}

.RightArrow {
  display: inline-flex;
  padding: 8px;
  align-items: flex-start;
  border-radius: 8px;
}

.RightArrow img {
  width: 24px;
  height: 24px;
}

.seprateline {
  width: 327px;
  height: 1px;
  flex-shrink: 0;
  background: var(--neutrals-n-40, #dfe1e6);
}

.my-container {
  display: grid;
  grid-template-columns: 375px;
  grid-template-rows: 110px 140px 425px;
  width: 375px;
  height: 779px;
  background-color: var(--primary-b-400, #6070ff);
  background-image: url(images/contact\ form\ shapes-mobile.png);
  background-repeat: no-repeat;
  background-position-x: right;
  border-top-left-radius: 80px;
}

.contact-me {
  display: grid;
  width: 327px;
  height: 137px;
  flex-shrink: 0;
  color: var(--neutrals-n-0, #fff);
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  margin-left: 20px;
}

.contact-me span {
  margin-top: 30px;
  padding-top: 30px;
}

.p-text {
  width: 327px;
  height: 137px;
  color: var(--primary-b-50, #ebebff);
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  padding: 15px;
  margin-top: 10px;
}

form {
  display: grid;
  grid-template-rows: 80px 60px 215px;
  margin-top: 20px;
}

ul {
  display: grid;
  grid-row-gap: 15px;
  list-style-type: none;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 0;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.inpfield {
  width: 327px;
  height: 48px;
  flex-shrink: 0;
  border: 1px solid var(--base-100, #cfd8dc);
  background: var(--mono-white, #fff);
  border-radius: 8px;
}

.foo {
  display: flex;
  width: 304px;
  height: 46px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  color: var(--neutral-n-800, #172b4d);
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  border: none;
  padding-left: 20px;
}

.text-container {
  width: 327px;
  height: 170px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid var(--base-100, #cfd8dc);
  background: var(--mono-white, #fff);
}

#txtContainer {
  width: 273px;
  height: 140px;
  flex-shrink: 0;
  color: var(--neutrals-n-60, #b3bac5);
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 15px 38px 15px 16px;
  border: none;
  resize: none;
}

.getintouch {
  display: flex;
  width: fit-content;
  height: 50px;
  align-items: center;
  border-radius: 8px;
  background: var(--neutrals-n-0, #fff);
}

.getintouch button {
  color: var(--primary-b-400, #6070ff);
  text-align: center;
  font-family: 'Poppins', sans-serif;
  padding: 12px 16px;
  width: fit-content;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.51px;
  border: none;
  border-radius: 8px;
  background-color: transparent;
  cursor: pointer;
}

.sm img:hover {
  height: 25px;
  width: 25px;
  transition: 1s;
  transition-delay: 0.2s;
}

.tag:hover {
  background-color: #6070ff;
  transition: 1s;
  transition-delay: 0.2s;
}

.tag span:hover {
  color: white;
  transition: 1s;
  transition-delay: 0.2s;
}

.normal:hover {
  transition: 1s;
  transition-delay: 0.2s;
  background-color: #6070ff;
}

.normal span:hover {
  transition: 1s;
  transition-delay: 0.2s;
  color: white;
}

.resume-btn:hover {
  background-color: #6070ff;
  transition: 1s;
  transition-delay: 0.2s;
}

.resume-btn span:hover {
  transition: 1s;
  transition-delay: 0.2s;
  color: white;
}

.getintouch button:hover {
  background-color: #6070ff;
  transition: 1s;
  transition-delay: 0.2s;
  color: white;
}

@media screen and (min-width: 376px) and (max-width: 425px) {
  body {
    background-color: #e5e5e5;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
  }

  .headline {
    width: 89%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .grid-container {
    width: 89%;
  }

  .About-Myself {
    width: 94%;
  }

  .my-container {
    width: 100%;
    justify-content: center;
  }

  .sm img:hover {
    height: 25px;
    width: 25px;
    transition: 1s;
    transition-delay: 0.2s;
  }

  .tag:hover {
    background-color: #6070ff;
    transition: 1s;
    transition-delay: 0.2s;
  }

  .tag span:hover {
    color: white;
    transition: 1s;
    transition-delay: 0.2s;
  }

  .normal:hover {
    transition: 1s;
    transition-delay: 0.2s;
    background-color: #6070ff;
  }

  .normal span:hover {
    transition: 1s;
    transition-delay: 0.2s;
    color: white;
  }

  .resume-btn:hover {
    background-color: #6070ff;
    transition: 1s;
    transition-delay: 0.2s;
  }

  .resume-btn span:hover {
    transition: 1s;
    transition-delay: 0.2s;
    color: white;
  }

  .getintouch button:hover {
    background-color: #6070ff;
    transition: 1s;
    transition-delay: 0.2s;
    color: white;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  body {
    background-color: #e5e5e5;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
  }

  .navbar {
    width: 100%;
    height: 60px;
    align-items: center;
  }

  .menu {
    display: flex;
    visibility: visible;
  }

  .menuicon {
    display: none;
  }

  .menu a {
    text-decoration: none;
    padding: 10px;
  }

  .headline {
    background-image: url(images/Header\ bg@2x.png);
    width: 93.7%;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .heading {
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .heading span {
    color: var(--neutrals-n-800, #091e42);
    letter-spacing: 0.37%;
    padding-left: 40px;
  }

  .primery-text {
    width: 70%;
    height: auto;
    padding-left: 40px;
    padding-right: 140px;
  }

  .social-media {
    padding-left: 15px;
  }

  .sociao {
    padding-left: 40px;
  }

  .sm img:hover {
    height: 25px;
    width: 25px;
    transition: 1s;
    transition-delay: 0.2s;
  }

  .grid-container {
    width: 93.7%;
  }

  .cards {
    width: 95%;
    flex-direction: row;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .difcard {
    flex-direction: row-reverse;
  }

  .refimg {
    width: 50%;
    height: 100%;
  }

  .tag {
    cursor: pointer;
  }

  .tag:hover {
    background-color: #6070ff;
    transition: 1s;
    transition-delay: 0.2s;
  }

  .about span {
    padding-left: 25px;
  }

  .tag span:hover {
    color: white;
    transition: 1s;
    transition-delay: 0.2s;
  }

  .normal {
    cursor: pointer;
  }

  .normal:hover {
    transition: 1s;
    transition-delay: 0.2s;
    background-color: #6070ff;
  }

  .normal span:hover {
    transition: 1s;
    transition-delay: 0.2s;
    color: white;
  }

  .About-Myself {
    display: flex;
    width: 96.55%;
    gap: 55px;
  }

  .resume-btn:hover {
    background-color: #6070ff;
    transition: 1s;
    transition-delay: 0.2s;
  }

  .resume-btn span:hover {
    transition: 1s;
    transition-delay: 0.2s;
    color: white;
  }

  .pri-text p {
    padding-left: 25px;
  }

  .my-container {
    grid-template-columns: 550px;
    grid-template-rows: 140px 100px 400px;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-image: url(images/contact\ form\ background\ shapes@2x.png);
    background-size: 100% 90%;
  }

  .contact-me {
    width: 100%;
  }

  form {
    margin: 0;
    grid-template-rows: 105px 80px 215px;
  }

  ul {
    color: white;
  }

  .p-text {
    width: 100%;
    line-height: normal;
    height: auto;
    text-align: center;
  }

  .inpfield {
    width: 100%;
  }

  .foo {
    width: 96%;
  }

  .text-container {
    width: 100%;
  }

  #txtContainer {
    width: 93%;
  }

  .getintouch {
    width: 142px;
    margin-left: 0;
  }

  .getintouch button:hover {
    background-color: #6070ff;
    transition: 1s;
    transition-delay: 0.2s;
    color: white;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  body {
    background-color: #e5e5e5;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
  }

  .navbar {
    width: 100%;
    height: 60px;
    align-items: center;
  }

  .menu {
    display: flex;
    visibility: visible;
  }

  .menuicon {
    display: none;
  }

  .menu a {
    text-decoration: none;
    padding: 10px;
  }

  .headline {
    background-image: url(images/Header\ bg@2x.png);
    width: 95%;
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 170px;
    padding-bottom: 140px;
  }

  .heading {
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .heading span {
    color: var(--neutrals-n-800, #091e42);
    letter-spacing: 0.37%;
    padding-left: 70px;
  }

  .primery-text {
    width: 70%;
    height: auto;
    font-size: 21px;
    padding-left: 70px;
    padding-right: 140px;
  }

  .social-media {
    padding-left: 25px;
  }

  .supporting-text a {
    font-size: 20px;
  }

  .sociao {
    padding-left: 70px;
  }

  .pri-text p {
    padding-left: 30px;
  }

  .sm {
    cursor: pointer;
  }

  .sm img {
    height: 25px;
    width: 25px;
  }

  .langname img {
    width: 55px;
    height: 55px;
  }

  .sm img:hover {
    height: 30px;
    width: 30px;
    transition: 1s;
    transition-delay: 0.2s;
  }

  .grid-container {
    width: 95.3%;
  }

  .cards {
    width: 95%;
    flex-direction: row;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .block {
    width: 100%;
    padding-left: 20px;
  }

  .multiblock {
    padding-left: 0;
  }

  .difcard {
    flex-direction: row-reverse;
  }

  .tonic {
    height: 40px;
    font-size: 40px;
    line-height: 50px;
  }

  .multipost {
    font-size: 40px;
    width: 100%;
    line-height: 50px;
    height: 40px;
  }

  .refimg {
    width: 50%;
    height: 100%;
  }

  .tag {
    cursor: pointer;
  }

  .tag:hover {
    background-color: #6070ff;
    transition: 1s;
    transition-delay: 0.2s;
  }

  .framwork span {
    font-size: 23px;
  }

  .tag span {
    line-height: 30px;
    font-size: 18px;
  }

  .langhead span {
    font-size: 25px;
  }

  .discription span {
    font-size: 18px;
  }

  .normal span {
    font-size: 20px;
    line-height: 30px;
  }

  .about span {
    padding-left: 30px;
  }

  .resume-btn span {
    font-size: 21px;
  }

  .langname span {
    font-size: 25px;
  }

  .tag span:hover {
    color: white;
    transition: 1s;
    transition-delay: 0.2s;
  }

  .counter {
    width: 12px;
    height: 12px;
  }

  .para {
    font-size: 18px;
    width: 100%;
  }

  .normal {
    cursor: pointer;
    padding: 15px;
  }

  .normal:hover {
    transition: 1s;
    transition-delay: 0.2s;
    background-color: #6070ff;
  }

  .normal span:hover {
    transition: 1s;
    transition-delay: 0.2s;
    color: white;
  }

  .About-Myself {
    display: flex;
    width: 97.5%;
  }

  .Top {
    width: 49%;
  }

  .about {
    width: 100%;
    font-size: 47px;
  }

  .pri-text {
    width: 100%;
    font-size: 21px;
    height: 195px;
    line-height: 30px;
  }

  .support-text a {
    font-size: 20px;
  }

  .resume-btn a {
    text-decoration: none;
  }

  .resume-btn:hover {
    background-color: #6070ff;
    transition: 1s;
    transition-delay: 0.2s;
  }

  .resume-btn span:hover {
    transition: 1s;
    transition-delay: 0.2s;
    color: white;
  }

  .languages {
    width: 100%;
  }

  .langhead {
    width: 90%;
    justify-content: space-between;
  }

  .lang-list {
    width: 90%;
  }

  .langname {
    width: 100%;
    gap: 135px;
  }

  .framwork {
    width: 80%;
    justify-content: space-between;
  }

  .seprateline {
    width: 80%;
  }

  .skillList {
    width: 48.5%;
  }

  .my-container {
    grid-template-columns: 650px;
    grid-template-rows: 140px 100px 455px;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-image: url(images/contact\ form\ background\ shapes@2x.png);
    background-size: 100% 90%;
  }

  .contact-me {
    width: 100%;
  }

  form {
    margin: 0;
    grid-template-rows: 105px 80px 215px;
  }

  ul {
    color: white;
  }

  .p-text {
    width: 100%;
    line-height: normal;
    height: auto;
    text-align: center;
  }

  .inpfield {
    width: 100%;
  }

  .foo {
    width: 96%;
  }

  .text-container {
    width: 100%;
  }

  #txtContainer {
    width: 93%;
  }

  .getintouch {
    width: 142px;
    margin-left: 0;
  }

  .getintouch button:hover {
    background-color: #6070ff;
    transition: 1s;
    transition-delay: 0.2s;
    color: white;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
  body {
    background-color: #e5e5e5;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
  }

  .navbar {
    width: 100%;
    height: 60px;
    align-items: center;
  }

  .Mylogo {
    margin: 20px;
    font-size: 23px;
  }

  .menu {
    display: flex;
    visibility: visible;
    margin: 20px;
  }

  .menuicon {
    display: none;
  }

  .menu a {
    text-decoration: none;
    font-size: 23px;
    padding: 10px;
  }

  .headline {
    background-image: url(images/Header\ bg@2x.png);
    width: 96.5%;
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 230px;
    padding-bottom: 230px;
    text-align: start;
  }

  .heading {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .heading span {
    color: var(--neutrals-n-800, #091e42);
    letter-spacing: 0.37%;
  }

  .primery-text {
    width: 50%;
    height: auto;
    font-size: 21px;
    padding-left: 213px;
  }

  .social-media {
    padding-left: 25px;
  }

  .supporting-text a {
    font-size: 20px;
  }

  .sociao {
    padding-left: 213px;
  }

  .pri-text p {
    padding-left: 30px;
  }

  .sm {
    cursor: pointer;
  }

  .sm img {
    height: 25px;
    width: 25px;
  }

  .langname img {
    width: 55px;
    height: 55px;
  }

  .sm img:hover {
    width: 30px;
    height: 30px;
    transition: 0.5s;
    transition-delay: 0.2s;
  }

  .grid-container {
    width: 96.6%;
  }

  .cards {
    width: 98%;
    flex-direction: row;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .langhead span {
    font-size: 25px;
  }

  .block {
    width: 100%;
    padding-left: 20px;
  }

  .resume-btn span {
    font-size: 21px;
  }

  .multiblock {
    padding-left: 20px;
  }

  .difcard {
    flex-direction: row-reverse;
  }

  .tonic {
    height: 40px;
    font-size: 40px;
    line-height: 50px;
  }

  .about span {
    padding-left: 30px;
  }

  .multipost {
    font-size: 40px;
    width: 100%;
    line-height: 50px;
    height: 40px;
  }

  .refimg {
    width: 50%;
    height: 100%;
  }

  .normal span {
    font-size: 20px;
    line-height: 30px;
  }

  .tag {
    cursor: pointer;
  }

  .framwork span {
    font-size: 23px;
  }

  .tag:hover {
    background-color: #6070ff;
    transition: 1s;
    transition-delay: 0.2s;
  }

  .discription span {
    font-size: 18px;
  }

  .tag span {
    line-height: 30px;
    font-size: 18px;
  }

  .langname span {
    font-size: 25px;
  }

  .tag span:hover {
    color: white;
    font-size: 20px;
    transition: 1s;
    transition-delay: 0.2s;
  }

  .counter {
    width: 12px;
    height: 12px;
  }

  .para {
    font-size: 18px;
    width: 100%;
  }

  .normal {
    cursor: pointer;
    padding: 15px;
  }

  .normal:hover {
    background-color: #6070ff;
    transition: 1s;
    transition-delay: 0.2s;
  }

  .normal span:hover {
    color: white;
    transition: 1s;
    transition-delay: 0.2s;
  }

  .About-Myself {
    display: flex;
    width: 98.3%;
  }

  .Top {
    width: 49%;
  }

  .about {
    width: 100%;
    font-size: 47px;
  }

  .pri-text {
    width: 100%;
    font-size: 21px;
    height: 100px;
    line-height: 30px;
  }

  .support-text a {
    font-size: 20px;
  }

  .resume-btn a {
    text-decoration: none;
  }

  .resume-btn span:hover {
    transition: 1s;
    transition-delay: 0.2s;
    color: white;
  }

  .resume-btn:hover {
    background-color: #6070ff;
    transition: 1s;
    transition-delay: 0.2s;
  }

  .languages {
    width: 100%;
  }

  .langhead {
    width: 90%;
    justify-content: space-between;
  }

  .lang-list {
    width: 90%;
  }

  .langname {
    width: 100%;
    gap: 245px;
  }

  .framwork {
    width: 80%;
    justify-content: space-between;
  }

  .seprateline {
    width: 80%;
  }

  .skillList {
    width: 48.5%;
  }

  .my-container {
    grid-template-columns: 650px;
    grid-template-rows: 140px 100px 455px;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-image: url(images/contact\ form\ background\ shapes@2x.png);
    background-size: 100% 90%;
  }

  .contact-me {
    width: 100%;
  }

  form {
    margin: 0;
    grid-template-rows: 105px 80px 215px;
  }

  ul {
    color: white;
  }

  .p-text {
    width: 100%;
    line-height: normal;
    height: auto;
    text-align: center;
  }

  .inpfield {
    width: 100%;
  }

  .foo {
    width: 96%;
  }

  .text-container {
    width: 100%;
  }

  #txtContainer {
    width: 93%;
  }

  .getintouch {
    width: 142px;
    margin-left: 0;
  }

  .getintouch:hover {
    background-color: #6070ff;
    transition: 1s;
    transition-delay: 0.2s;
    color: white;
  }
}
